{% extends 'base.html.twig' %}

{% block title %}Hello VipController!{% endblock %}

{% block body %}

<hgroup>
<h1>Les codes promo </h1>

<h3>Espace VIP</h3>

</hgroup>

<article>
<h2>Lorem ipsum dolor sit amet consectetur, oris? 
<mark> 50% </mark> </h2>
<kbd>#758HJKLIM</kbd>

</article>

<article>
<h2>ipsum 
<mark> 30% </mark> </h2>
<kbd>#896HJKJKLM</kbd>

</article>

{% endblock %}
